a {
    color: red;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Apply a custom background color to the .btn class */
.btn {
    background-color: rgb(128, 128, 128); /* Use your desired shade of gray */
    /* You can also set other styles such as text color, border, etc. here */
}