.course_navigation {
    width: 190px;
    background: white;
    padding-left: 20px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    border-radius: 0;
}

.course_navigation_active a {
    color: black;
    border-left: 2px solid black;
    padding-left: 8px;
}

.course_navigation .list-group-item {
    color: red;
    border: 0;
}

.course_navigation .active {
    color: black;
    border-left: 2px solid black;
    padding-left: 8px;
}
